:root{
    // Primary

    --cyan: hsl(171, 66%, 44%);
    --light-b: hsl(233, 100%, 69%);

    // Neutral

    --dark-g-b: hsl(210, 10%, 33%);
    --grayish-b: hsl(201, 11%, 66%);

    // Custom https://css-tricks.com/snippets/sass/tint-shade-functions/
}